
<div class="container">

  <div class="row">
      <div class="mydiv">
        <div class="card">

            <div class="text-center">
                <h1>Add new product</h1>
                <h5>Please enter product infos</h5>
            </div>

            <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">


              <div style="display:flex; flex-direction: column ;align-items: center;">

                <div class="mb-3">
                  <mat-form-field  color="accent" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput formControlName="name" type="text">
                </mat-form-field>

                </div>

                <div class="mb-3">
                  <mat-form-field color="accent" appearance="outline" >
                    <mat-label>Product Description</mat-label>
                    <textarea matInput formControlName="description" type="text"> </textarea>
                  </mat-form-field>

                </div>

                  <div class="mb-3">

                    <mat-form-field color="accent" appearance="outline" >
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="price" type="text">
                    </mat-form-field>

                  </div>

                  <button color="accent" mat-raised-button style="color:#000;width:35%!important" type="submit" >Submit</button>

              </div>




            </form>



        </div>
      </div>
  </div>
</div>

