
  <mat-toolbar style="padding:40px">
    <div class="mycontainer">

      <div class="logoside">

        <button mat-icon-button class="example-icon menu-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span style="margin-right:20px;">LOGO</span>
        <span style="font-size:17px; margin-right:20px;" > <a mat-raised-button color= "primary" routerLink="/login"> Login </a> </span>
        <span style="font-size:17px; margin-right:20px;" > <a mat-button routerLink="/products"> Products </a> </span>
        <span style="font-size:17px; margin-right:20px;"><a mat-button routerLink="/add-product"> Add Product </a> </span>

      </div>

      <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>


    </div>
  </mat-toolbar>

