<!--NavBar Section -->
<mat-toolbar class="toolbarItems">


  <h1 class="logoSide">Logo</h1>


    <button  mat-icon-button class="menu-icon"  (click)="changeState()">
      <mat-icon *ngIf="!clicked">
        menu
      </mat-icon>
      <mat-icon *ngIf="clicked">
        close
      </mat-icon>
     </button>

         <ul [ngClass]="{'active' : clicked , 'buttonside' : !clicked }" >
             <li class="element" *ngFor="let menuItem of menuItems">
                 <button mat-button class={{menuItem.class}} routerLink={{menuItem.url}}>
                   <mat-icon>{{menuItem.icon}}</mat-icon>
                    <span> {{menuItem.title}}</span>
                 </button>
             </li>
         </ul>


</mat-toolbar>
<!--SideBar Section For Mobile -->
