
  <div class="mainDiv mat-elevation-z4">

      <div class="sideFilter">
        <app-search (searchValueEvent)="table.filter($event)"></app-search> <!--  comp2 -->
      </div>

      <div class="contentDiv">
          <div class="tableHeader">
              <div class="tableTitle">
                <h3> My Products </h3>
              </div>
              <div class="tableButtons">
                <button  mat-raised-button color="primary"  routerLink="/add-product">
                  Add products
                 </button>

                 <button mat-raised-button color="warn" (click)="logout()"  >
                 Logout
                 </button>

              </div>
          </div>
          <div>
        <app-product-table #table  ></app-product-table> <!--  comp1 -->

          </div>
      </div>


  </div>
