
.mydiv {
  display: flex;
  min-height: 700px;
  justify-content: center;
  align-items: center;
}


.card {
  width : 400px;
  padding : 20px;
  background: linear-gradient(to right, #85D8CE, #085078);
}


.card h1,h5 {
  color : #fff;
}

mat-label{
  color : #fff;
  font-size: medium;
}
