<div class="mainAuthContainer" fxLayout="row">

<div class="imageContainer" fxFlex="3 3 77%" fxHide.xs >
    <img src="assets/pics/login/picBig.jpg" class="loginImage" alt="image" />
</div>

<div class="loginContainer" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="stretch" fxFlex="1 1 23%" >

    <div class="seConnecter">
      <span>
        Se connecter à votre compte
      </span>
    </div>

    <div class="loginInfos">

      <form class="myform" [formGroup]="signInForm" (ngSubmit)="login()">
        <div>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Adresse e-mail</mat-label>
              <input matInput formControlName="username" required type="text">
              </mat-form-field>
          </div>

      <div>
        <mat-form-field color="primary" appearance="outline" >
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" required type="password">
        </mat-form-field>
      </div>

      <div class="rememberMe">
        <mat-checkbox>Se souvenir de moi</mat-checkbox>
        <a routerLink="/forget-password">Mot de passe oublié ?</a>
      </div>

      <div class="buttonSubmitCenter">
        <button color="primary" mat-raised-button type="submit" >Se connecter</button>
      </div>

      <div class="dividerr">
        <mat-divider></mat-divider>
        <span>OU</span>
        <mat-divider></mat-divider>
      </div>
    </form>

    <div class="register">
        <span> Vous n'avez pas de compte ? </span>
        <span> <a routerLink="/register"> Créer un compte </a></span>
    </div>

  </div>



</div>

</div>
