
<mat-card>

  <mat-card-title>
      <h3>Filters</h3>
  </mat-card-title>

  <mat-card-content>

    <mat-form-field  appearance="outline">
        <mat-label>Search</mat-label>
        <input #searchText (keyup)="sendSearchValue(searchText.value)" matInput placeholder="Search">
    </mat-form-field>
    <hr>

    <br>
    <form [formGroup]="addTagForm" (ngSubmit)="addTags()" >
      <mat-form-field floatLabel="never" appearance="outline">
        <mat-label >Price from</mat-label>
        <input formControlName="tag" matInput >
      </mat-form-field>
      <button color="accent" mat-raised-button type="submit">Submit</button>
    </form>


    <mat-form-field floatLabel="never" appearance="outline">
      <mat-label>Price to</mat-label>
      <input matInput>
    </mat-form-field>
   <hr>

  </mat-card-content>

</mat-card>

